audioread==2.1.8
beautifulsoup4==4.9.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
demjson==2.2.4
idna==2.9
imageio==2.8.0
imutils==0.5.3
joblib==0.14.1
jtutils==0.0.6
kiwisolver==1.2.0
leven==1.0.4
librosa==0.7.2
llvmlite==0.32.0
matplotlib==3.2.1
networkx==2.4
nose==1.3.7
numba==0.49.0
numpy==1.18.3
opencv-python==4.2.0.34
pandas==1.0.3
Pillow==7.1.1
pycparser==2.20
pyparsing==2.4.7
python-csv==0.0.11
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
requests==2.23.0
resampy==0.2.2
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
SoundFile==0.10.3.post1
soupsieve==2.0
urllib3==1.25.9
xlrd==1.2.0
xmltodict==0.12.0
